.four {
  &__container {
    position: relative;
  }
  &__slides {
    position: relative;
  }
  &__slide-item {
    img {
      image-rendering: optimizeQuality;
    }
  }
  &__slide-btn {
    outline: 0;
    background-color: transparent;
    border: 0;
    position: absolute;
    cursor: pointer;
    top: 62%;
    transform: translateY(-50%);
    width: _clamp(30, 105, 105);
    &.prev {
      left: _clamp(5, 85, 85);
    }
    &.next {
      right: _clamp(5, 65, 65);
    }
  }
  &__content-group {
    display: grid;
    grid-template-columns: _clamp(100, 912, 912) auto _clamp(50, 431, 431);
    color: map-get($color, 1);
    transform: translateY(_clamp(-70, -70, 0));
    margin-bottom: _clamp(-70, -70, 0);
    @include media(768px) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }
  }
  &__content,
  &__location {
    background-color: map-get($color, 9);
  }
  &__calendar {
    background-color: map-get($color, 2);
    padding-top: _clamp(10, 85, 85);
    padding-left: _clamp(10, 19.2, 19.2);
    padding-bottom: _clamp(5, 49, 49);
    padding-right: _clamp(5, 19.8, 19.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(768px) {
      padding: _rem(16);
      flex-direction: row;
    }
    .ic {
      font-size: _clamp(16, 87.28, 87.28);
      @include media(768px) {
        margin-right: _rem(5);
      }
    }
    .text {
      font-size: _clamp(12, 32, 32);
      margin-top: _clamp(5, 20.6, 20.6);
      letter-spacing: _clamp(0, 2, 2);
    }
  }
  &__content {
    padding-top: _clamp(10, 80, 80);
    padding-left: _clamp(10, 244.9, 244.9);
    padding-bottom: _clamp(5, 14.1, 14.1);
    padding-right: _clamp(5, 35, 35);
    @include media(768px) {
      padding: _rem(16);
    }
    .content-label {
      font-size: _clamp(12, 16, 16);
      line-height: _clamp(calc(1.25 * 12), 19.2, 19.2);
      transform: translateY(_clamp(-8, -8, 0));
      display: block;
      font-weight: 500;
      font-style: italic;
    }
    .content-title {
      font-size: _clamp(16, 53.88, 53.88);
      line-height: _clamp(calc(1.25 * 16), 64.66, 64.66);
      font-weight: 400;
      letter-spacing: _clamp(1, 4.25, 4.25);
    }
    .content-text {
      font-size: _clamp(12, 16, 16);
      line-height: _clamp(calc(1.25 * 12), 28, 28);
      margin-top: _clamp(3, 8.4, 8.4);
    }
  }
  &__location {
    padding-top: _clamp(10, 115, 115);
    padding-right: _clamp(10, 110, 110);
    padding-bottom: _clamp(5, 85.1, 85.1);
    padding-left: _clamp(5, 49.3, 49.3);
    @include media(768px) {
      padding: _rem(16);
    }
    p {
      font-size: _clamp(14, 32, 32);
      line-height: _clamp(calc(1.25 * 14), 38.4, 38.4);
      letter-spacing: _clamp(0, 3, 3);
      padding-top: _clamp(5, 15, 15);
    }
    u {
      text-decoration: none;
      margin-top: _rem(3);
      font-size: _clamp(12, 16, 16);
      line-height: _clamp(calc(1.25 * 12), 28, 28);
      margin-left: _clamp(5, 30, 30);
    }
  }
}
